.filters{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap:wrap;
}
.filter{
  width: calc(100% / 6);
  padding-right: 15px;
  margin-bottom: 20px;
}
.filter select{
  width: 100%;
}
