header{
  background-color: #2d2d2d;
  color: #fff;
}
@media(min-width: 1200px){
  header .container{
    max-width: 1366px;
  }
}
.headerNav li{
  background-repeat: no-repeat;
  background-position: 90% center;
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
}
.headerRow{
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap:nowrap;
  height: 60px;
}
.logo{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  max-height: 80%;
  margin-right: 40px;
}
.logo img{
  margin-right: 22px;
  height: 48px;
  width: auto;
}
.logo p{
  font-size: 18px;
  text-transform: uppercase;
  max-width: 130px;
  line-height: 1.2;
}
.headerNav{
  font-size: 16px;
}
.headerNav > ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.headerNav > ul > li{
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.headerNav > ul > li.active{
  background-color: #525050;
}
.userPanel{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.searchPanel{
  position: relative;
  flex-grow: 1;
}
.searchPanel__input{
  width: 100%;
  height: 36px;
  background-color: #fff;
  border: none;
  border-radius: 35px;
}
.searchPanel__button{
  position: absolute;
  right: 15px;
  top: 4px;
}
.userPanel svg{
  height: 22px;
  width: auto;
  margin-left: 20px;
}
.searchPanel__button{
  border: none;
  background: none;
  cursor: pointer;
}
.searchPanel__button svg{
  width: 23px;
  height: 23px;
}
.headerNav > ul > li > svg{
  margin-right: 10px;
}
.headerNav > ul > li:hover{
  background-color: #525050;
}
.headerNav > ul > li > ul{
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  height: 50px;
  top: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.headerNav > ul > li > ul > li{
  text-transform: none;
  font-size: 15px;
  cursor: pointer;
  height: 100%;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.headerNav > ul > li > ul > li:hover, .headerNav > ul > li > ul > li.active{
  color: #666;
  background-color: #F8F6F6;
}
li.headerSubmenuLists > ul > li{
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
li.headerSubmenuLists > ul > li:hover, li.headerSubmenuLists > ul > li.active{
  color: #2A59D1;
}
.submenuSection{
  background-color: #525050;
  height: 50px;
  padding: 0;
}
.headerRow{
  position: relative;
}
.headerNav li .container{
  padding: 0;
}
.headerSubmenu{
  background-color: #F8F6F6;
  width: 100%;
  position: absolute;
  top: 50px;
  cursor: default;
  left: 0;
  z-index: 11;
  padding: 40px;
  display: none;
}
.headerSubmenu__wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.headerSubmenu__wrapper > *{
  width: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.headerSubmenuLists ul{
  width: 50%;
}
.headerSubmenuImage{
  width: 50%;
  padding: 0 5px;
}
.headerSubmenuImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}
.hamburger{
  display: none;
  background: none;
  border: none;
  z-index: 12;
}
.fixedBody{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
.mobileOverlay{
  display: none;
  width: 100vw;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
}
.back{
  display: none;
}
@media(min-width: 992px){
  header li.discount{
    background-color: #CD1948;
    position: relative;
  }
  .headerNav > ul > li > ul > li.discount:hover, .headerNav > ul > li > ul > li.discount.active{
    background-color: #CD1948;
    color: #333;
  }
  header .discount::before{
    content:'';
    display: block;
    width: 10px;
    height: 100%;
    background-color: #CD1948;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-190deg);
    transform-origin: 0 0;
  }
  header .discount::after{
    content:'';
    display: block;
    width: 10px;
    height: 100%;
    background-color: #CD1948;
    position: absolute;
    top: 0;
    right: -10px;
    transform: skewX(-190deg);
    transform-origin: 0 0;
  }
}

@media(max-width: 991px){
  .back{
    height: 75px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
  }
  .headerSubmenuLists{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .headerRow{
    position: static;
  }
  header{
    position: relative;
  }
  .submenuSection{
    display: none;
  }
  .hamburger{
    display: block;
    order:1;
    background-color: #2d2d2d;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .hamburger.is-active{
    transform: translateX(50vw);
  }
  .logo{
    order:2;
  }
  .searchPanel{
    order:3;
  }
  .userPanel{
    order:4;
  }
  .headerNav{
    position: absolute;
    left: 0;
    height:100vh;
    width: 50%;
    border-right: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    top: 0;
    transform: translateX(-100%);
    background-color: #fff;
    z-index: 12;
    overflow-x:hidden;
    overflow-y: scroll;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .headerNav.visible{
    transform:translateX(0);
  }
  .headerNav ul li ul{
    display: none;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before{
    background-color: #fff;
  }
  .headerNav ul{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .headerNav > ul > li > ul > li{
    height: 75px;
  }
  .headerNav ul.secondLevel{
    transform:translateX(-100%);
  }
  .headerNav ul.thirdLevel{
    transform:translateX(-200%);
  }
  .headerNav ul li{
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
  }
  .headerNav ul li svg{
    display: none;
  }
  .headerNav > ul > li > ul{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 100%;
    background-color: #fff;
    display: block;
  }
  .headerNav > ul > li >ul.visible{
    transform:translateX(0);
  }
  .headerNav > ul > li{
    height: 75px;
  }
  .back{
    background-color: rgba(255,0,0,.25);
  }
  .headerNav > ul > li:hover{
    background-color: #f8f6f6;
  }
  .headerNav li{
    padding: 0 15px;
    text-align: center;
  }
  .headerSubmenu{
    top: 0;
    padding: 0;
    left: 100%;
    display: none;
  }
  .headerSubmenu__wrapper{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .headerSubmenu__wrapper > *{
    width: 100%;
  }
  ul.headerSubmenu__wrapper > li.back{
    text-transform: none;
  }
  ul.headerSubmenu__wrapper > li.back:hover{
    background-color: #f8f6f6;
  }
  li.headerSubmenuLists{
    background-color: #fff;
    padding: 0;
  }
  li.headerSubmenuLists:hover{
    background-color: #fff;
  }
  .headerSubmenuLists ul{
    width: 100%;
  }
  .headerSubmenuLists > ul > li{
    height: 75px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .headerSubmenuLists > ul > li:hover{
    background-color: #f8f6f6;
  }
  .headerSubmenuImages{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .headerSubmenuImage{
    padding: 15px;
    width: 100%;
  }
}
@media(max-width: 767px){
  .logo p{
    display: none;
  }
  .logo{
    margin-right: 0;
  }
}
@media(max-width: 575px){
  .searchPanel input{
    display: none;
  }
  .searchPanel{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
  }
  .searchPanel__button{
    position: static;
  }
  .searchPanel__button svg path{
    fill:#fff;
  }
  .userPanel{
    padding-right: 15px;
  }
}
