@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import url('header.css');
@import url('discount.css');
@import url('product.css');
@import url('productDetails.css');
@import url('bundle.css');
@import url('recent.css');
@import url('misc.css');
@import url('footer.css');

*{
  box-sizing: border-box;
  outline: none;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
a, a:hover, a:focus, a:active{
  color: inherit;
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  margin: 0;
  color: inherit;
}
.breadcrumbs{
  padding: 15px 0;
}
.breadcrumbs ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  color: #000;
}
.breadcrumbs ul li{
  position: relative;
  margin-right: 5px;
}
.breadcrumbs ul li:after{
  position: relative;
  content:'>';
  font-size: 13px;
  color: inherit;
}
.breadcrumbs ul li:last-child::after{
  display: none;
}
.breadcrumbs ul li a{
  color: inherit;
  margin-right: 5px;
}
.breadcrumbs ul li:last-child a{
  opacity: .5;
  cursor: default;
}
section{
  padding: 70px 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
h2{
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
  color: #3D3C3C;
  text-transform: uppercase;
  font-weight: 700;
}
button{
  padding: 0;
  cursor: pointer;
}
.swiper-button-next, .swiper-button-prev{
  height: 40px;
  width: 20px;
  -webkit-background-size: 20px 40px;
  background-size: 20px 40px;
}
p, h1, h2, h3, h4, h5, h6, span{
  cursor: default;
}
@keyframes fav{
  from{transform: scale(1);}
  50%{transform: scale(1.2);}
  to{transform: scale(1);}
}
button.added svg{
  fill:#000;
  animation: fav .5s ease;
}
.modal-content{
  position: relative;
  width: 960px;
  height: 775px;
}
button.close{
  position: absolute;
  top: 20px;
  right: 20px;
}

@media(max-width: 991px){
  h2{
    font-size: 25px;
  }
}
@media(max-width: 767px){
  h2{
    font-size: 20px;
  }
  .breadcrumbs{
    display: none;
  }
}
@media(max-width: 575px){
  section{
    padding: 30px 0;
  }
}
