.productCard{
  padding: 15px;
  background-color: #fff;
}
.productImage{
  border: 1px solid #C4C4C4;
  height: 250px;
  padding: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.productImage__image{
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.productImage__addToFav{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.productImage__addToFav svg{
  width: 20px;
  height: 15px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.productImage__addToFav:hover svg{
  fill: #000;
}
.recentProducts__clear{
  position: absolute;
  right: 30px;
  top: 0;
  width: 170px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3D3C3C;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.recentProducts__clear:hover{
  color: #aaa;
}
.recentProducts .container{
  position: relative;
}
.productImage__remove{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  position: absolute;
  left: 15px;
  top: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
.productImage__remove svg{
  width: 16px;
  height: 16px;
}
.productImage__remove:hover{
  filter: brightness(75%);
}
@media(min-width: 1200px){
  .productImage__remove{
    opacity: 0;
  }
  .productImage:hover .productImage__remove{
    opacity: 1;
  }
}

@media(max-width: 991px){
  .recentProducts__clear{
    font-size: 14px;
    width: 100px;
    height: 35px;
  }
}
@media(max-width: 767px){
  .recentProducts__clear{
    font-size: 12px;
    height: 25px;
    width: 75px;
  }
}
@media(max-width: 575px){
  .recentProducts__clear{
    top: 30px;
  }
}
